* {
    box-sizing: border-box;
    padding: 100;
    margin: 20;
}


body {
    background-image: url('../images/aquapaintstrokeslg.jpg');
    /* background-color: lightgrey; */
    /* font-family:'Montserrat', sans-serif; */
    font-family: 'Baloo Chettan 2', 'Baloo 2', 'Poppins', cursive, sans-serif;
}

.navcolor {
    color: steelblue ;
}

.btn {
    background-color: slategray;
    border: gray 2px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.contact-info {
    border: 5px solid steelblue;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 75%;
    font-family: 'Baloo Chettan 2', 'Baloo 2', 'Poppins', cursive, sans-serif;
    background-color: transparent;
    color: darkslategray;
}

.portfolio-info {
        border: 5px solid steelblue;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 50px;
        height: 75%;
        font-family: 'Baloo Chettan 2', 'Baloo 2', 'Poppins', cursive, sans-serif;
        background-color: transparent;
        color: #ffffff;
}

.about-info {
    border: 5px solid steelblue;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:50px;
    height: 75%;
    font-family: 'Baloo Chettan 2', 'Baloo 2', 'Poppins', cursive, sans-serif;
    background-color: transparent;
    color: darkslategray;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Baloo Chettan 2', 'Baloo 2', 'Poppins', cursive, sans-serif;
    text-align: center;
    color: darkslategray;
}